<div class="main">
    <header>页头</header>
    <p>图片示例</p>
    <p>直接使用assets/right.png</p>
    <img src="assets/right.png" alt="right">
    <p>需要使用require()方式</p>
    <img src="${require(`./images/error.png`)}" alt="error">
    <p>内容内容内容内容内容</p>
    <div class="page button">
    <div class="page__bd page__bd_spacing">
        <a href="javascript:;" class="weui-btn weui-btn_primary">页面主操作 Normal</a>
		<a href="javascript:;" class="weui-btn weui-btn_primary weui-btn_loading"><i class="weui-loading"></i>页面主操作 Loading</a>
        <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_primary">页面主操作 Disabled</a>
        <a href="javascript:;" class="weui-btn weui-btn_default">页面次要操作 Normal</a>	
    </div>
    </div>
    
    <a href="http://tigerliu.site/" target="_blank" class="link">一个跳转链接</a>
    <div class="weui-footer">
        <p class="weui-footer__links">
            <a href="http://tigerliu.site/" target="_blank" class="weui-footer__link">底部链接</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
    </div>
</div>