<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <link rel="stylesheet" type="text/css" href="./common/common.css">
        <link rel="stylesheet" type="text/css" href="./static/weui.min.css">
    </head>

    <body>
        <div id="root"></div>
        <div id="J_Mask">
            <div class="load_box">
                <i></i>
            </div>
        </div>
        <!-- 开启调式模式 -->
        <script src="./static/zepto.min.js"></script>
        <!-- <script src="./static/vconsole.min.js"></script>
        <script>
            new VConsole();
        </script> -->
    </body>

</html>